html{
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/f3/c0/4a/f3c04a0a19ecb148b4295c489ba8b8f9.jpg");
	color: white;
	 margin:25px;
}
main{
	margin:100px;
	border-left-style:double;
	border-left-width: 30px;
	border-left-color:white;
	border-right-style:double;
	border-right-width:30px;
	border-right-color:white;
	background-image: url("http://media.istockphoto.com/photos/white-marble-patterned-texture-background-picture-id512818574?k=6&m=512818574&s=170667a&w=0&h=AI3gBYUWtGcXlBYrqb9KBCrpxxroVSr1TIg9PGEgjkE=");
	color:black;
}
h1{
	font-size: 50px;
	letter-spacing: 40px;
	text-shadow:5px 5px 3px #808080;
	border-style: double;
	border-color:white;
	text-align:center;
}
h2 {
	color: white;
	font-family: arial;
	font-size: 20px;
	text-align: center;
	
}
h3 {
	font-size: 50px;
	text-align:center;
	padding-top:50px;
	margin:150px;
	color: black;

}
h4 {
	font-size: 25px;
	text-align:center;
	
}
h5 {
	font-size:20px;
	text-align:center;
	text-decoration:line-through;
}
main p {
	text-align: center;
	font-size: 20px;
}
h6 {
	text-align: center;
	font-size: 25px;
}
h7 {
	text-decoration:line-through;
	text-align: center;
}
ul {
	text-align:center;
}
h7, h8 {
	font-size: 20px;
	text-align:center;
}
