html {
	background-color: lightcyan;
	color: lightskyblue;
	font-family:arial;
	
}
h1 {
	border-style: double;
	border-width: 4px;
	border-color: lightblue;
}
h2 {
	color: mediumpurple;
	font-size: 25px;
	border-bottom-style: groove;
	border-bottom-color: purple;
	border-bottom-width: 10px;
}
