html {
	background-color: #F0F8FF;
	font-size: 25px;
	font-family: arial; 
	color: #00CED1; 
	background-image: url("http://www.totallylayouts.com/backgrounds/floral/daisy_peace_and_grass.jpg");

}

body {
	border-color: #00FFFF;
	opacity: 1.0;
}

h1 {
	background-color: #FFFFFF;
	border-color: #4682B4;
	border-style: outset;
	border-width:3px;
	border: 2px solid #00CED1;
	border-radius: 5px;
	color: #40E0D0;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 45px;
	letter-spacing:20px;
	text-decoration:underline;
	text-shadow:2px 2px #87CEFA;
	
}
h2 {
	padding-left: 500px;
	color: #9370DB;
	background-color: #F0F8FF;
	width: 225px;
	border-style: double;
	border: 5px double #ADD8E6;
	right: 5500px;
	resize: horizontal;
	overflow: auto;
	letter-spacing: 50px;
}
p {
	background-color: #FFFAFA;
	font-size: 15px;
	color: #000000;
	width: 285px;
	border: 3px dotted #87CEEB;
	font-family: arial;
	word-spacing: 5px;
	
}
footer {
	background-color: #FFFFFF;
	height: 30px;
	width: 450px;
	
}
