html {
/*Create a new file called "main.css"
*Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font and text of each element.
*Use at least 20 different properties. Include a list of these 20 at the TOP of your main.css file as a css comment.
*Use at least 4 different units to set sizes of various aspects of your webpage.
*Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned. (background image and width)
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into the top of your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.*/

	background-color: #F0F8FF;
	font-size: 25px;
	font-family: arial; 
	color: #00CED1; 
	background-image: url("http://www.totallylayouts.com/backgrounds/floral/daisy_peace_and_grass.jpg");

}

body {
	border-color: #00FFFF;
	opacity: 1.0;
}

h1 {
	background-color: #FFFFFF;
	border-color: #4682B4;
	border-style: outset;
	border-width:3px;
	border: 2px solid #00CED1;
	border-radius: 5px;
	color: #40E0D0;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 45px;
	letter-spacing:20px;
	text-decoration:underline;
	text-shadow:2px 2px #87CEFA;
	
}
h2 {
	color: #9370DB;
	background-color: #F0F8FF;
	width: 1580px;
	border-style: double;
	border: 5px double #ADD8E6;
	text-align:center;
	letter-spacing: 5px;
}
main p {
	background-color: #FFFAFA;
	font-size: 25px;
	color: #000000;
	width: 285px;
	border: 3px dotted #87CEEB;
	font-family: arial;
	word-spacing: 5px;
	
}
footer {
	background-color: #FFFFFF;
	height: 30px;
	width: 450px;
	
}
ol, ul {
	background-color: white;
	font-size: 20px;
	border-style: double;
	border-width:10px;
}
img {
    display: block;
    margin: left;
    width: 40%;
}
nav {
	background-color: white;
	border-left-style: groove;
	border-right-style: groove;
	border-color:salmon;
	border-width: 10px;
}
nav p {
	text-decoration: underline;
}

	

